.container {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #d2e6e4;
  height: 852px;
}
.navbar {
  position: sticky;
  padding: 10px;
}
.completeLogo {
  width: 25%;
  justify-content: center;
}
.completeLogo > span {
  color: var(--pri, #0b7077);
  font-family: PicoBlackAl;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.flex {
  display: flex;
  align-items: center;
}
.navbarLinks {
  list-style-type: none;
  gap: 80px;
  color: #252641;
  width: 42%;

  justify-content: center;
}
.navbarLink {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}
.userAuthButton1 {
  display: inline-flex;
  padding: 20px 40px;
  align-items: flex-start;
  border-radius: 10px;
  background: #fff;
  color: var(--Brand-color, #0b7077);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  border: none;
}
.userAuthButton2 {
  display: inline-flex;
  padding: 20px 40px;
  align-items: flex-start;
  border-radius: 10px;
  background: #0b7077;
  color: var(--Brand-color, #fff);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  border: none;
}
.userAuthButtons {
  gap: 40px;
  width: 33%;
  justify-content: center;
}
.shapes {
  position: absolute;

  left: 15%;
  top: -70%;
}
.shapes > svg {
  position: absolute;

  width: 811.267px;
  height: 818.925px;
  transform: rotate(-15.676deg);
}
.tag1 {
  color: #252641;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
  padding: 10px 25px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 36%;
  left: 6%;
}

.mainTitle > h1 {
  color: #0b7077;
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  color: var(--Brand-color, #0b7077);
  font-family: Raleway;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  margin-left: 6%;
  width: 800px;
  margin-top: 19%;
}
.explorebtn {
  display: inline-flex;
  padding: 20px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: var(--brand-color-2, #fd661f);
  border: none;
  color: #fff;
  margin-left: 6%;
}
.imgOfUser {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--Brand-color, #0b7077);
  flex-shrink: 0;
  position: relative;
}
.imgsOfUsers {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  margin-left: 20px;
}

.reviewAndStarts {
  display: grid;
  grid-template-columns: repeat(1, 150px);
  margin-left: 20px;
}
.reviewAndStarts > div {
  margin-top: 0px;
}
.reviewAndStarts > p {
  margin: 0;
}
.homePic {
  width: 796px;
  height: 823.819px;
  flex-shrink: 0;

  background: url("https://s3-alpha-sig.figma.com/img/290b/bd24/810b32b8951e291363f4a9e1bdfe4868?Expires=1699228800&Signature=TB74rIi25akEgNcVY4Qu0zrUkyhgE6V-L49c0Dlgyy7pm5s8nsbCYOmPLUIPoYgrp70DghsbtNrgrtnx3s337BLDYmJCF3Oq8h8EYUP~fi3AuO0PObbIo8khtSOnPRTq3CXtc4e8AV1Sbu2Cjxu9KWvSBpNNOd0wJ3W4kfPKX7w7lWq5pSFUzzGGSwBCJlvlclzEh8hFPlzoO2Avn9oXX8Xu2P~L50EhJk3QTTa5hrVzfJXyfOCWVJgyDngTKCesQUddfw9xJeCnwIobG0glZPDsmpaD5hdrRsl-jnEv53MyljX8B1f2fV7GRlUWQWV25g3AY6npmRQ~4NufakFVog__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  position: absolute;
  left: 38%;
  top: 113px;
}
.calander {
  width: 300px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42%;
  margin-top: -10%;
}
.calandericon {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #23bdee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assistedStudentNo > span {
  color: #595959;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
.assistedStudentNo > p {
  color: #545567;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  margin: 0;
}
.assistedStudentNo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.icon1 {
  position: absolute;
  left: 86%;
  top: 64%;
}
.circle {
  width: 273px;
  height: 274px;
  flex-shrink: 0;
  border-radius: 274px;
  background: #d2e6e4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}
.innerCircle {
  width: 201px;
  height: 201px;
  flex-shrink: 0;
  background-color: #0b7077;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coursesHeading {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coursesHeading > h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -0.06em;
  text-align: center;
  color: #fd661f;
}
.titleLine {
  margin-left: 22%;
  margin-top: -45px;
}
.CourseCatagory {
  margin-top: 40px;
  width: Hug (117px);
  height: Hug (34px);
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px;
  gap: 10px;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
}
.CoursesCatagories {
  justify-content: center;
  gap: 20px;
}
.cardCountainer {
  width: 296px;
  height: 428px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  overflow: hidden;
}
.cardCountainer > div > img {
  width: 330px;
  height: 179px;
  flex-shrink: 0;
  margin-left: -20px;
}
.enrolledStudents {
  display: flex;
  display: inline-flex;
  padding: 5px 10px;
  align-items: center;
  gap: 5px;
  height: 40px;

  border-radius: 40px;
  background-color: #fafafa;
  margin-top: -24px;
  margin-left: 8%;
}

.coursedate {
  color: var(--primary-primary-3, #777795);
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
  width: 89.384px;
  margin-left: 17px;
}
.courseTitle > h1 {
  width: 264.267px;
  height: 53.692px;
  flex-shrink: 0;
  color: var(--Brand-color, #0b7077);
  font-family: Raleway;
  font-size: 15.522px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0.388px;
  margin-left: 17px;
}
.courseDescribtion {
  width: 251.691px;
  color: var(--grey-grey-2, #4d4d4d);
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 16px */
  margin-left: 17px;
}
.coursePrice {
  gap: 10px;
  margin-left: 17px;
}
.courseSPrice {
  color: var(--brand-color-2, #c4c4c4);
  font-family: Inter;
  font-size: 16.681px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: line-through;
}
.courseAPrice {
  color: var(--brand-color-2, #fd661f);
  font-family: Inter;
  font-size: 16.681px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.enrolledButton {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--Brand-color, #0b7077);
  border: none;
  color: #fff;
  margin-right: 17px;
}
.priceAndButton {
  justify-content: space-between;
  margin-top: -20px;
}
.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 296px);
  justify-content: center;
  gap: 25px;
}
.studentsProfilePic > svg {
  padding: 2px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: baseline;
}
.studentsProfilePic {
  display: grid;
  grid-template-columns: repeat(5, 22px);
  width: 108px;
  height: 30.649px;
}
.studentsProfilePic1 {
  background-color: #7196ff;
  width: 29.189px;
  height: 29.189px;
}
.studentsProfilePic2 {
  background-color: #ffe75c;
  width: 29.189px;
  height: 29.189px;
}
.studentsProfilePic3 {
  background-color: #3442d9;
  width: 29.189px;
  height: 29.189px;
}
.studentsProfilePic4 {
  background-color: #ff78b9;
  width: 29.189px;
  height: 29.189px;
}
.studentsProfilePic5 {
  background-color: #7196ff;
  width: 29.189px;
  height: 29.189px;
}
.numberOfStudents {
  color: #263238;
  font-family: Raleway;
  font-style: normal;
  gap: 5px;
  margin-left: 15px;
}
.smallText14px {
  font-size: 14px;
}
.categorytitle > h1 {
  color: var(--Brand-color, #0b7077);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.4px; /* 130% */
  letter-spacing: -2.88px;
}
.categorytitle > svg {
  margin-left: 22%;
  margin-top: -35px;
}
.categorytitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subTitle > p {
  color: var(--gray, #696984);
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 827.999px;
}
.subTitle {
  justify-content: center;
}
.categoryCard {
  border-radius: 15px;
  background: var(--white, #fff);
  flex-direction: column;
  padding: 40px 17px 40px 17px;
}
.categoryCard > p {
  width: 260px;
  color: var(--gray, #696984);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}
.categoryCard > h1 {
  color: var(--Brand-color, #0b7077);
  text-align: center;
  font-family: Raleway;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.buttonMore {
  display: inline-flex;
  padding: 12px 62px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: var(--white, #fff);
  color: #0b7077;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  border: none;
}
.categoryCard:hover {
  background: var(--white, #fff);
  box-shadow: 0px 50px 80px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.buttonName2 {
  display: none;
}
.categoryCard:hover .buttonName1 {
  display: none;
}
.categoryCard:hover .buttonName2 {
  width: 183px;
  display: inline;
  border-radius: 10px;
  background-color: #fd661f;
  color: white;
  padding: 12px 40px 12px 40px;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}
.categoryCard:hover .buttonMore {
  padding: 0;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 290px);
  justify-content: center;
  gap: 20px;
}
.categoryIcon {
  width: 50px;
  height: 50px;
  background-color: pink;
  border-radius: 50%;
  justify-content: center;
}
.categoryIcon > img {
  width: 50px;
  height: 50px;
}
.viewAllbtn > button {
  padding: 12px 62px;
  border-radius: 10px;
  border: 1px solid var(--Brand-color, #0b7077);
  background: var(--white, #fff);
  color: #0b7077;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
}
.viewAllbtn {
  justify-content: center;
  cursor: pointer;
  margin-top: 83px;
}
.studentCardCountainer {
  margin-top: 110px;
  margin-left: 7%;
  gap: 50px;
}
.studentCardCountainer2 {
  width: 501px;
}
.benifitTag > p {
  width: 121px;
  text-align: center;
  padding: 10px 25px;
  color: #0b7077;
  border-radius: 10px;
  background: #f5f5f5;
}
.studentCardTitle > h1 {
  color: var(--Brand-color, #0b7077);

  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.4px; /* 130% */
  letter-spacing: -2.88px;
}
.studentCardBenefit {
  display: flex;
  padding: 10px;

  width: 505px;
  height: 272px;
  flex-direction: column;
}
.studentBenefits {
  justify-content: center;
  align-items: center;

  gap: 5px;
  height: 100px;
}

.studentBenefits > p {
  color: #696984;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.36px;

  width: 443;
}

.unbalance {
  width: 65px;
  height: 50px;
  margin-left: 35px;
  margin-right: 35px;
  /* margin-top: -10px; */
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.StudentID {
  margin-top: 100px;

  width: 551px;
  height: 358px;
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  justify-content: center;
  border-radius: 20px;
  background: #d2e6e4;
}

.upperPart {
  display: flex;

  justify-content: space-between;
}
.studentidpage1 {
  width: 211.6px;
  height: 144.6px;
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
}

.studenticonPic {
  margin-left: 42px;
  margin-top: -120px;
}
.studentNameOnId {
  color: var(--Brand-color, #0b7077);
  font-family: Inter;
  font-size: 22.194px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
}
.flexC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crediantails > p {
  margin-top: 10px;
  text-align: center;
  color: #535352;
  font-family: Inter;
  font-size: 7.198px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -5px;
}
.decorations {
  margin-top: 50px;
}
.companyLogoOnstudentId {
  margin-top: -45px;
  margin-left: 75px;
}
.studentidpage2 {
  width: 211.6px;
  height: 144.6px;
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
}
.kgfchapet2 {
  color: #65636e;
  font-family: Inter;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
  gap: 10px;
  margin-right: 15px;
}
.kgfchapet2 > p {
  margin-top: 20px;
}
.signOfStudent {
  color: #5091d8;
  margin-top: 10px;
  font-family: Inter;
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.staffTrainingContainer {
  margin-top: 110px;
  gap: 93px;
  margin-left: 7%;
}
.staffTraningInfo {
  width: 517.256px;
  height: 346.977px;
  margin-top: 150px;
}
.giftCard {
  margin-top: 110px;
}
.giftCard {
  margin-left: 7%;
  width: 80%;
  height: 431px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #df1c25;
  padding-left: 59px;
  padding-top: 51px;
}
.giftCardHeading {
  width: 429px;
  height: 141.197px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.4px; /* 130% */
  letter-spacing: -2.88px;
}
.giftCardHeading > h1 {
  color: #fff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.4px; /* 130% */
  letter-spacing: -2.88px;
}
.giftCardsBenifits > p {
  color: #fff;

  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.28px;
}
.giftCardsBenifits {
  gap: 5px;
}
.giftCardRedeemBtn {
  margin-top: 15px;
  display: inline-flex;

  align-items: flex-start;
  gap: 10px;
}
.giftCardRedeemBtn > button {
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  background: #fff;
  color: #0b7077;
  cursor: pointer;
}
.giftCardRight {
  width: 30%;
}
.giftCardRight > img {
  width: 1001px;
  height: 651px;
  flex-shrink: 0;
  margin-top: -218px;
  margin-left: -200px;
}
.exclusiveOffer {
  width: 650px;
  height: 302px;
  border-radius: 19.822px;
  background: #fff;
  box-shadow: 0px 14.15888px 84.95327px 0px rgba(38, 45, 118, 0.08);

  overflow: hidden;
}
.exclusiveOffer > img {
  width: 309px;
  height: 355px;
  flex-shrink: 0;
}
.exclusivePrice > div {
  border-radius: 50px;
  background: #fff;
  width: 158px;
  justify-content: center;

  margin-left: -190px;
}
.footer {
  margin-top: 110px;
}
.footerLogo > span {
  color: var(--pri, #0b7077);
  font-family: PicoBlackAl;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.staffTraningInfo > img {
  margin-top: -20px;
  width: 517.256px;
  height: 386.977px;
}
.logoRow > p {
  color: var(--pri, #0b7077);
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.footercategories > h1 {
  color: #0a033c;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footercategories > h2 {
  color: var(--pri, #0b7077);
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.footerLinks > h2 {
  color: var(--pri, #0b7077);
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.footercategories {
  color: var(--pri, #0b7077);
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -100px;
}
.footerLinks > h1 {
  color: #0a033c;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footeremail > p {
  color: #0b7077;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footeremail > div > input {
  width: 425.279px;
  height: 67.684px;
  flex-shrink: 0;

  background: var(--white, #fff);
  border: none;
  border-radius: 15px;
}
.footeremail > div > input::placeholder {
  color: var(--pri, #0b7077);
  font-size: 16px;
  padding-left: 16px;
  font-family: Raleway;
}

.footeremail > div > button {
  display: flex;
  width: 128px;
  height: 56px;
  padding: 13px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--pri, #0b7077);
  border: none;
  color: white;
  margin-left: -150px;
}
.footeremail > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoRow {
  gap: 5px;
}
.footeremail {
  flex-direction: column;
  margin-top: -150px;
}
.footercategories {
  margin-top: -100px;
  width: 100%;
  margin-right: 30px;
}
.footerLinks {
  margin-top: -190px;

  margin-right: 30px;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  margin-top: -360px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(3, 780px);
  overflow: hidden;
  justify-content: center;
}
.blured {
  filter: blur(3.5px);
}
.shapes2 > svg {
  position: absolute;
  top: 490%;
}
.shapes3 > svg {
  position: absolute;
  top: 705%;
  right: 20%;
  transform: rotate(180deg);
}
@media only screen and (min-width: 1300px) {
  .calander {
    margin-left: 52%;
    margin-top: -12%;
  }
  .homePic {
    position: absolute;
    left: 48%;
    top: 113px;
  }
  .shapes3 > svg {
    position: absolute;
    top: 436%;
    right: 30%;

    transform: rotate(180deg);
  }
  .icon1 {
    position: absolute;
    left: 89%;
    top: 34%;
  }
  .studentCardCountainer {
    margin-top: 110px;
    margin-left: 7%;
    gap: 140px;
  }
  .StudentID {
    margin-top: 100px;
    width: 591px;
    height: 358px;
    display: flex;
    padding: 37px 75px;
    gap: 10px;
    justify-content: center;
    border-radius: 20px;
    background: #d2e6e4;
    overflow: hidden;
  }
  .studentCardCountainer {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .staffTrainingContainer {
    justify-content: center;
  }
  .giftCard {
    justify-content: space-between;
  }
  .shapes {
    position: absolute;
    display: flex;

    justify-content: flex-start;
    left: 10%;
    top: -30%;
  }
  .shapes > svg {
    position: absolute;

    width: 911.267px;
    height: 718.925px;
    /* transform: rotate(15.676deg); */
  }
  .shapes2 > svg {
    position: absolute;
    top: 300%;
  }
}
